
# -------------------- #
# CD JOB (DEPLOYMENT)  #
# -------------------- #
  cd:
    name: Django CD - Deploy to EC2
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Deploy to EC2 Server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "
            set -e

            echo '--- Go to Project Directory ---'
            cd /var/www/simple-django-app

            echo '--- Pull Latest Code ---'
            git pull origin main

            echo '--- Activate Virtualenv ---'
            cd migrations/simple-django-app
            source env/bin/activate

            echo '--- Install Requirements ---'
            pip install --upgrade pip
            pip install -r requirements.txt

            echo '--- Django Migrations ---'
            cd dj_app
            python manage.py migrate
            python manage.py collectstatic --noinput

            echo '--- Restart Services ---'
            sudo systemctl restart gunicorn
            sudo systemctl restart nginx

            echo '--- Deployment Successful ---'
          "
